ETHEREUM_JSONRPC_HTTP_URL="{{env_vars.ETHEREUM_JSONRPC_HTTP_URL}}"
ETHEREUM_JSONRPC_TRACE_URL="{{env_vars.ETHEREUM_JSONRPC_TRACE_URL}}"
DATABASE_URL='{{env_vars.DATABASE_URL}}'
SECRET_KEY_BASE={{env_vars.SECRET_KEY_BASE}}
ETHEREUM_JSONRPC_WS_URL="{{env_vars.ETHEREUM_JSONRPC_WS_URL}}"
CHAIN_ID={{env_vars.CHAIN_ID}}
HEART_COMMAND="{{env_vars.HEART_COMMAND}}"
SUBNETWORK="{{env_vars.SUBNETWORK}}"
LOGO={{env_vars.LOGO}}
LOGO_FOOTER={{env_vars.LOGO_FOOTER}}