server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://{{loki_ip}}:{{loki_port}}/loki/api/v1/push

scrape_configs:
- job_name: polygon-sdk
  static_configs:
  - targets:
      - localhost
    labels:
      job: polygon_sdk_logs
      __path__: {{log_files_location}} # modify to point at your application log file